body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    margin: 3rem;
    padding: 0;
    border: .5rem solid black;
    width: 32rem;
    height: 32rem;
}